*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #314755;  
    background: -webkit-linear-gradient(to right, #26a0da, #314755); 
    background: linear-gradient(to right, #26a0da, #314755); 
    
}
.screen{
    height: 100vh;
    display: flex;
}
#screen1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screen1 h2{
    margin-bottom: 2rem;
    font-size: 3rem;
}
#screen1 button{
    border: 2px solid #000;
    background-color: #000;
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.45s;
    border-radius: 10px;
}
#screen1 button:hover{
    background-color: #fff;
    color: #000;
}
#screen2, #screen3{
    display: none;
}
#screen2 .photo-wrapper{
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 100vh;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
#screen2 img{
    width: 150px;
    height: 150px;
    margin: 0 1rem;
}
#screen3 .main{
    position: relative;
}
#screen3 img{
    width: 70px;
    height: 70px;
    position: absolute;
}

#screen4{
    display: none;
    height: 100vh;
    width: 100vw;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
   
    position: absolute;
    top: 0px;
    left: 0px;
}


.mainscreen {
   
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 450px;
    background-color:rgba(245, 245, 245, 0.8);
    color: black;
    position: absolute;
    top: 210px;
    left: 500px;
    text-align: center;
    padding-top: 60px;
    border-radius: 10px ;
    box-shadow: 10px 10px 10px gray;

}

.final-score {
    text-align: center;
}

.final-score h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.final-score p {
    font-size: 1.5rem;
}

.top {
    font-size: 30px;
    margin: 10px 10px;
    
}